img {
  width: 500px;
   height: 500px;

}

a{
  display:block;
  width: 100%;
color: blue;
}


#stars{
margin-top: 200px;
width: 300;
height: 400;

}

#prince{
  width: 1500;
  height: 964;


}
/*

body{

	background-color: #FFDAB9
;
	font-family: "New Times Roman";

 } */

p{
	text-align: center;

	 /*single paragraph colour assingment*/
	/* background-color: #FFDAB9 */
 ;
	font-size: 20pt;

}

h1 {
	text-align: center;

/*	 "coloR" alone would chage the text coloR only
*/	color: black;
	font-size: 90pt

 }

a:link {
	text-align: center;
	color:black;
	text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #FFE4C4; */
}

li {
  float: left;
  margin-left: 18%;
  margin-top: 2%;

}

li a {
  display: block;
  color: #232;
  text-align: center;
  padding: 20px 16px;
  font-size: 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #DEB887;
}

.active {
  background-color: #4CAF50;
}

body {background-color: #FFF8DC;}
